.content {
    display: flex;
    margin: 50px auto 0px;
    padding: 0 16px;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 200px;
    width: 200px;
    margin: 0 8px 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  a,
  a:visited,
  a:hover {
    color: #C00000;
    text-decoration: none;
  }

  a:hover {
    color: #FFBBC1;
  }

  a:hover .heart-svg {
    filter: brightness(0) saturate(100%) invert(73%) sepia(12%) saturate(836%) hue-rotate(306deg) brightness(102%) contrast(115%);
  }

  .actual-img {
    height: 156px;
    width: auto;
  }

  .striked {
    text-decoration: line-through;
  }

  .utility-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card {
      height: 16px;
      margin: 8px 0;
    }
  }