<div class="content" role="main">
  <div class="utility-container">
    <h2>Valentine Day Swap</h2>
    <br>
    <h3 class="instructions">Please select your name below. A pop-up will show up for extra confirmation. 
      <br><br>After you correctly selected your name, you will see your randomized Valentine partner!</h3>
  </div>
  <div class="card-container">
    <div *ngFor="let pair of pairs; let i = index">
      <a class="card" (click)="playerClick(pair.sender)">
        <h1 class="card-title">{{pair.sender}}</h1>
        <img class="card-img" src="assets/svg/rose.svg">
      </a>
    </div>
  </div>
</div>